// Body
$body-bg: #5fa8d3;
$body-color: black ; 

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
body {
   background-image: url("../../public/img/blue.jpg");
   background-attachment: fixed;
   background-size: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #62b6cb;
  }

  li { display: flex; }
h2 {
    background-color: #62b6cb;
}

.navbar{
    color: #225d81;
    box-shadow: none;
}
.card-body{
    color: black;
    background-color: #62b6cb;
    $font-size-base: 2rem;
}
.card .card-header{
    background-color: #256d7b;
    border: 0px;
}
.card-header{
    color: black;
}

#navbarDropdown{
    background-color: #5fa8d3;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.nav-link{
}
.dropdown a{
    margin-left: 25px;
    background-color: #5fa8d3;
    border: none;
    color: #225d81;
}
.dropdown a:hover{
    margin-left: 25px;
    background-color: #5fa8d3;
    border: none;

}
.dropdown a:active{
    margin-left: 25px;
    background-color: #225d81;
    border: none;
}

.show{
    background-color: #5fa8d3;
}


.ms-auto{
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.dropdown #dropdownMenuLink {
    margin-left: 10px;
    background-color: #5fa8d3;
    color: #225d81;
}
#navbarDropdown{
    margin-left: 0px;
    background-color: #5fa8d3;
    color: #225d81;
    border: none;
}
.dropdown #dropdownMenuLink:hover{
    margin-left: 10px;
    background-color:  #5fa8d3;
    color: black;
}
.dropdown .dropdown-menu{
    margin-left: 10px;
    background-color:  #5fa8d3;
    color: black;
}
.dropdown .dropdown-menu:hover{
    margin-left: 10px;
    background-color:  #5fa8d3;
    color: black;
}
#navbarDropdown:hover{
    margin-left: 0px;
    background-color:  #5fa8d3;
    color: black;
    border: none;

}
li .dropdown-item, #navbarDropdown{
    background-color: transparent;
    margin-right: 5px;
}
li .dropdown-item:hover, #navbarDropdown:hover{
    background-color: transparent;
    margin-right: 5px;
}
.dropdown-menu .dropdown-item{
    background-color: none;
}
.dropdown{
    margin: 0px;
}






.bg-color {
    //background-image: linear-gradient(#225d81, #5fa8d3);
    box-shadow: none;
    background-image: url("../../public/img/blue2.jpg");
}
.nav-itemleft{
    border-right: 2px solid #225d81;
}
.show ul{
    background-color: #5fa8d3;
}
.dropdown ul{
    background-color: #5fa8d3;
}
.dropdown-menu{
    background-color: #5fa8d3;
}
.navbar-brand{
    color: #ffff00;
}
/*.dropdown a, .dropdown a:hover, .dropdown a:active, .dropdown a:visited{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  
}
.nav-link{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
}*/

ul .inimenu{
    display: flex;
}
















.main{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.post{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 1px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 10px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 0px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}