// Body
$body-bg: #5fa8d3;
$body-color: black; 

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #62b6cb;
  }

  li { display: flex; }
h2 {
    background-color: #62b6cb;
}
.card-body{
    background-color: orange;

}
.navbar{
    color: #225d81;
    box-shadow: none;
}
.card-body{
    color: black;
    background-color: #62b6cb;
    $font-size-base: 2rem;
}
.card .card-header{
    background-color: #225d81;
    border: 0px;
}
.card-header{
    color: black;
}

#navbarDropdown{
    background-color: #5fa8d3;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.nav-link{
}
.dropdown a{
    margin-left: 25px;
    background-color: #5fa8d3;
    border: none;
    color: #225d81;
}
.dropdown a:hover{
    margin-left: 25px;
    background-color: #5fa8d3;
    border: none;

}
.dropdown a:active{
    margin-left: 25px;
    background-color: #225d81;
    border: none;
}




.ms-auto{
    margin-left: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown #dropdownMenuLink , #navbarDropdown{
    margin-left: 10px;
    background-color: #5fa8d3;
    color: #225d81;
}
.dropdown #dropdownMenuLink:hover, #navbarDropdown:hover{
    margin-left: 10px;
    background-color:  #225d81;
    color: black;
}
li .dropdown-item{
    background-color: #5fa8d3;

}






.bg-color {
    background-image: linear-gradient(#225d81, #5fa8d3);
    box-shadow: none;
}
.nav-itemleft{
    border-right: 2px solid #225d81;
}
.show ul{
    background-color: #5fa8d3;
}
.dropdown ul{
    background-color: #5fa8d3;
}